@mixin transition {
    transition: all .3s ease-in-out;
}
@mixin border__radius__42 {
    border-radius: 42px;
    @include sm{
        border-radius: 15px;
    }
}


@mixin font-120 {
    font-size: 120px;
    line-height: 120%;
    @include xxl {
        font-size: 100px;
    }
    @include xl {
        font-size: 90px;
    }
    @include lg {
        font-size: 80px;
    }
    @include md {
        font-size: 70px;
    }
    @include sm {
        font-size: 60px;
    }
}


@mixin font-54 {
    font-size: 54px;
    line-height: 120%;
    @include lg {
        font-size: 45px;
    }
    @include md {
        font-size: 40px;
    }
    @include sm {
        font-size: 35px;
    }
}



@mixin font-40 {
    font-size: 40px;
    line-height: 120%;
    @include lg {
        font-size: 35px;
    }
    @include md {
        font-size: 30px;
    }
    @include sm {
        font-size: 26px;
    }
}


@mixin font-30 {
    font-size: 30px;
    line-height: 160%;
    @include lg {
        font-size: 26px;
    }
    @include md {
        font-size: 24px;
    }
    @include sm {
        font-size: 22px;
    }
}


@mixin font-27 {
    font-size: 27px;
    line-height: 160%;
    @include lg {
        font-size: 25px;
    }
    @include md {
        font-size: 23px;
    }
    @include sm {
        font-size: 20px;
    }
}

@mixin font-25 {
    font-size: 25px;
    line-height: 160%;
    @include lg {
        font-size: 23px;
    }
    @include md {
        font-size: 22px;
    }
    @include sm {
        font-size: 20px;
    }
}

@mixin font-22 {
    font-size: 22px;
    line-height: 160%;
    @include lg {
        font-size: 20px;
    }
    @include md {
        font-size: 18px;
    }
    @include sm {
        font-size: 18px;
    }
}

@mixin font-20 {
    font-size: 20px;
    line-height: calc(30px/20px);
    @include lg {
        font-size: 18px;
    }
    @include md {
        font-size: 18px;
    }
    @include sm {
        font-size: 16px;
    }
}

@mixin font-18 {
    font-size: 18px;
    line-height: calc(27px/18px);
    @include mmd {
        font-size: 16px;
    }
}

@mixin font-16 {
    font-size: 16px;
    line-height: 160%;
    @include mmd {
        font-size: 15px;
    }
}

@mixin font-14 {
    font-size: 14px;
    line-height: 160%;
}
